@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editor-background);
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
